<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kolo.karl.sharemyfi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".ManageWifiInfo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.kolo.karl.sharemyfi.ManageWifiInfo"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AddWifi"
            android:label="@string/TXT_ACTION_ADD_WIFI"
            android:parentActivityName=".ManageWifiInfo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.kolo.karl.sharemyfi.AddNewWifiInfo"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManageWifiInfo"/>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
